.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-libre {
  font-family: "Libre", serif;
  line-height: 140%;
}
.glass {
  background-color: white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
}
.swiper {
  height: 50vh;
}
.swiper-wrapper {
  align-items: end;
}
.swiper-slide {
  height: 80% !important;
  width: 60% !important;
  text-align: center;
  background-color: black;
  transition: all 0.5s !important;
  margin: 0 5%;
  border-radius: 4px;
  overflow: hidden;
}
.swiper-slide-active {
  height: 100% !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden text-black bg-white font-poppins dark:bg-black dark:text-white;
  }
  h1 {
    @apply font-libre leading-tight text-[96px];
  }
  h2 {
    @apply font-libre leading-none text-[96px];
  }
  h3 {
    @apply font-libre leading-none text-[24px] italic;
  }
  h4 {
    @apply text-[#434343];
  }
  p {
    @apply font-poppins;
  }

  ::-moz-selection {
    @apply text-black bg-white;
  }
  ::selection {
    @apply text-black bg-white;
  }
  @font-face {
    font-family: Libre;
    font-weight: 400;
    src: url(/fonts/LibreBaskerville-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Libre;
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/LibreBaskerville-Italic.ttf) format("truetype");
  }
  @font-face {
    font-family: Libre;
    font-weight: 700;
    src: url(/fonts/LibreBaskerville-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(/fonts/Poppins-Regular.ttf) format("truetype");
  }
}

@layer utilities {
  .page-width {
    max-width: 1440px;
    margin: 0 auto;
  }
}
